			<div class="sns clickable">
				<a class="icon facebook" title="<%=t "sns.facebook"-%>" href="/auth/facebook"></a>
				<a class="icon googleplus" title="<%=t "sns.googleplus"-%>" href="/auth/google_oauth2"></a>
				<a class="icon twitter" title="<%=t "sns.twitter"-%>" href="/auth/twitter"></a>
				<a class="icon weibo" title="<%=t "sns.weibo"-%>"></a>
				<a class="icon douban" title="<%=t "sns.douban"-%>"></a>
				<a class="icon qzone" title="<%=t "sns.qzone"-%>"></a>
				<a class="icon renren" title="<%=t "sns.renren"-%>"></a>
				<a class="icon kaixin" title="<%=t "sns.kaixin"-%>"></a>
				<a class="icon linkedin" title="<%=t "sns.linkedin"-%>"></a>
				<a class="icon tumblr" title="<%=t "sns.tumblr"-%>"></a>
				<a class="icon pinterest" title="<%=t "sns.pinterest"-%>"></a>
				<a class="icon flickr" title="<%=t "sns.flickr"-%>"></a>
				<div style="clear:left"></div>
			</div>
